<div class="container-fluid ">
    <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
            [(ngModel)]="selectedStore" (change)="onChangeStore($event)">
            <option *ngFor="let store of stores" [value]="store.id">
                {{store.name}}
            </option>

        </select>
        <label for="floatingSelect">Seleziona uno store</label>
    </div>
    <div class="container">

        <div class="row container-products">
            <span *ngIf="products.length==0"> Nessun Prodotto...</span>
            <!-- Itera sui prodotti -->
            <div class="col-md-4" *ngFor="let product of products; let i=index">
                <div class="card mb-4">
                    <img src="{{ product.productImage.url }}" class="card-img-top " alt="{{ product.name }}">
                    <div class="card-img-overlay">

                        <p class="card-text" [innerHTML]="splitCategories(product.categories)"></p>
                        <span *ngIf="isJustImported(product.offers[0].id)">Importato</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{product.brand}}</p>
                        <p class="card-text">Prezzo: {{setPrice(product.offers)}} €</p>
                        <form  #categoryForm="ngForm" >
                            <div class="mb-3 form-floating">
                                <select 
                                   
                                    name="outfitsCategories"
                                    class="form-select form-select-sm" required id="selectCategories"
                                    aria-label="Floating label select example" [(ngModel)]="product.selectCategories"
                                    
                                    >
                                   
                                    <option *ngFor="let category of categories | async" [value]="category.id">
                                        {{category.categoryName}}
                                    </option>

                                </select>
                                <label for="selectCategories">Categoria</label>
                                
                            </div>
                            <div class="mb-3 form-floating">
                                <select 
                                    name="colors"
                                    class="form-select form-select-sm" required id="colore"
                                    aria-label="Floating label select example" [(ngModel)]="product.selectColor"
                                   
                                    >
                                   
                                    <option *ngFor="let color of colors" [value]="color.id">
                                        {{color.value}}
                                    </option>

                                </select>

                                <label for="colore">Colore</label>
                            </div>
                            <div class="mb-3 form-floating">
                                <select 
                                    name="colors"
                                    class="form-select form-select-sm" required id="colore"
                                    aria-label="Floating label select example" [(ngModel)]="product.selectGender"
                                   
                                    >
                                   
                                    <option *ngFor="let gen of gender" [value]="gen.id">
                                        {{gen.value}}
                                    </option>

                                </select>

                                <label for="colore">Genere uomo/donna</label>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" (click)="saveToWardrobe(product)">Aggiungi al
                                    guardaroba</button>
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <!-- Pulsante per caricare altri prodotti -->
            <button class="btn btn-link" (click)="loadMoreProducts()">Carica altri prodotti</button>
        </div>

    </div>


</div>