.nav{
    background: var(--bianco);
    border-radius: 0.5rem ;

    .nav-link{
        display: flex;
        align-items: center;
        border-width: 1px 1px 0px 1px;
        box-shadow: 0 2px 3px #0000000b;
        padding: .75rem .875rem;
        color: var(--blueSoft);
        font-size: 20px;
        overflow: hidden;
        .text{
            font-size: 15px;
        }
    }
}