<app-anagrafica-wrapper
  [caption]="'Elenco Outfit caricati dagli utenti'"
  [subTitle]="subtitle"
  [tip]="'Gestisci gli Outfit, modera,cancella,sospendi....'"
  [addButtonShow]="true"
  [showSpinner]="!showGrid"
  [customToolbarButtons]="customToolbarButtons"
  (emittEventButton)="eventToolbarProduct($event)"
>

<app-data-grid
    *ngIf="showGrid"        
    [colonne]="colProductsGrid"
    [idTable]="000252"
    [dataSource]="products"
    [remoteOperation]="false"
    [isEditable]="true"
    [isEditableEditRow]="true"
    [showToolbarBottom]="false"
    [showToolbarTop]="false"
    [isSearchable]="false"
    (emittendStartEdit)="editProduct($event)"
    (emittendGridEvent)="gridEvent($event)"
    
    >

    </app-data-grid>
</app-anagrafica-wrapper>
