<ng-container *ngIf="!this.selectOptions.multiple; else selectMultiple">
  <select
    class="form-control" 
    [(ngModel)]="selectedValue"  
    (change)="onValueChange($event)"
    [disabled]="disabled"> <!-- Disabilita la selectbox se necessario -->
    <option *ngFor="let option of availableOptions" [value]="option[valueExp]">
      {{ option[displayExp] }}
    </option>
  </select>
</ng-container>

<ng-template #selectMultiple>
  <select
   class="form-control" 
    [multiple]="true"
    [(ngModel)]="selectedValue"  
    (change)="onValueChange($event)"
    [disabled]="disabled"> <!-- Disabilita la selectbox se necessario -->
    <option *ngFor="let option of availableOptions" [value]="option[valueExp]">
      {{ option[displayExp] }}
    </option>
  </select>
</ng-template>
