
<app-anagrafica-wrapper
  [caption]="'Elenco Outfit caricati dagli utenti'"
  [subTitle]="subtitle"
  [tip]="'Gestisci gli Outfit, modera,cancella,sospendi....'"
  [addButtonShow]="true"
  [showSpinner]="showGrid"
  [customToolbarButtons]="customToolbarButtons"
  (emittEventButton)="eventToolbarOutfit($event)"
>

<app-data-grid
    *ngIf="showGrid"        
    [colonne]="colOutfitsGrid"
    [idTable]="0002"
    [dataSource]="outfits"
    [remoteOperation]="false"
    [isEditable]="true"
    [isEditableEditRow]="true"
    [showToolbarBottom]="false"
    [showToolbarTop]="false"
    [isSearchable]="false"
    (emittendStartEdit)="editOutfit($event)"
    (emittendGridEvent)="gridEvent($event)"
    (emittendBttonCellClick)="approveOutfit($event)"
    
    >

    </app-data-grid>
</app-anagrafica-wrapper>
